body {
    background-color: #666666;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column ;
    margin-top: 80px;
}
.bkt {
    width: 900px;
}
.myfoto {
    width: 900px;
}